.bluecont{
    background-color: #1e4681;
    position: relative;
    right: 74px;
    width: 483px;
    height: 200px;
    color: white;
    margin-top: 60px;
    border-radius: 5px;
    }
.bluecont p:first-child{
    font-family: 'Roboto Slab', serif;
    padding-left: 24px;
    padding-right: 26px;
    padding-top: 17px;
    font-size: 25px;
    margin: 0;
} 
.bluecont p:last-child{
    position: relative;
    font-size: 20px;
    left: 278px;    
    margin-top: 5px;
} 
.article_3{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1439px){
    .bluecont{
        right: 42px;
        width: 280px;
        height: 115px;
        margin-top: 35px;
        border-radius: 3px;
        }
    .bluecont p:first-child{
        padding-left: 14px;
        padding-right: 20px;
        padding-top: 10px;
        font-size: 14px;
        } 
    .bluecont p:last-child{
        font-size: 12px;
        left: 158px;
        bottom: 5px;   
        } 

}
@media screen and (max-width: 833px){
    .bluecont{
    right: 42px;
    width: 225px;
    height: 93px;
    margin-top: 29px;
    border-radius: 2.33px;
        }
    .bluecont p:first-child{
        padding-left: 12px;
        padding-right: 20px;
        padding-top: 8px;
        font-size: 11px;
        } 
    .bluecont p:last-child{
        font-size: 10px;
    top: 0px;
    left: 126px;  
        } 

}